<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>665501004104-pmj4bg05bnnmek8nvdokmuq7at0heoav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665501004104-pmj4bg05bnnmek8nvdokmuq7at0heoav</string>
	<key>API_KEY</key>
	<string>AIzaSyAy1_KjqI7wSCed8vtj-xSQyIW7Pkg_o-s</string>
	<key>GCM_SENDER_ID</key>
	<string>665501004104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.pchatapp</string>
	<key>PROJECT_ID</key>
	<string>pchatapp-67f41</string>
	<key>STORAGE_BUCKET</key>
	<string>pchatapp-67f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665501004104:ios:eab40c04f30d7536</string>
	<key>DATABASE_URL</key>
	<string>https://pchatapp-67f41.firebaseio.com</string>
</dict>
</plist>